
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Default to locked down. Disallow all client-side file reads and writes.
    // All file access should be done through the public URLs provided in Firestore documents.
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
